{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Task</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">
        <script type="text/javascript" charset="utf8" src="/js/jquery.js"></script>  
        <script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.min.js"></script>  
    </head>
    <body>        
{{ end }}